<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManageCriminal</servlet-name>
        <servlet-class>servltes.ManageCriminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCriminalImageUpload</servlet-name>
        <servlet-class>servltes.ManageCriminalImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSearchImage</servlet-name>
        <servlet-class>servltes.ManageSearchImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCrime</servlet-name>
        <servlet-class>servltes.ManageCrime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLoginLogOut</servlet-name>
        <servlet-class>servltes.ManageLoginLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RstPass</servlet-name>
        <servlet-class>servltes.RstPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegiAdmin</servlet-name>
        <servlet-class>servltes.RegiAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMoreData</servlet-name>
        <servlet-class>servltes.ManageMoreData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCrimeType</servlet-name>
        <servlet-class>servltes.ManageCrimeType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCriminal</servlet-name>
        <url-pattern>/ManageCriminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCriminalImageUpload</servlet-name>
        <url-pattern>/ManageCriminalImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSearchImage</servlet-name>
        <url-pattern>/ManageSearchImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCrime</servlet-name>
        <url-pattern>/ManageCrime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageLoginLogOut</servlet-name>
        <url-pattern>/ManageLoginLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RstPass</servlet-name>
        <url-pattern>/RstPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegiAdmin</servlet-name>
        <url-pattern>/RegiAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMoreData</servlet-name>
        <url-pattern>/ManageMoreData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCrimeType</servlet-name>
        <url-pattern>/ManageCrimeType</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
